In [1]:
# 建立 function 1
def print_out(sth = '198964'):
    print(sth)
print_out()

198964

In [3]:
# 建立 function 2
bill = 1000
def func(cash):
    global bill
    bill += cash
    return bill
func(100)

print(bill)

1100

In [4]:
# 建立 function 3
func = lambda cash: cash + 100

print(func(100))

200

In [6]:
# 建立 function 4
func4 = lambda a = 89, b = 64: a + b
print(func4(1989, 64))

2053

-----

In [7]:
# 改寫 Module2 practice
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

### Using python to reach MySQL
#### pymysql package

In [2]:
import pymysql

connection = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'P@ssw0rd',
    port = 3306,
    database = 'my_titanic'
)

print(connection)

with connection.cursor() as cursor:
    cursor.execute('SHOW DATABASES;')
    result = cursor.fetchall()
print(result)

with connection.cursor() as cursor:
    cursor.execute('SHOW TABLES;')
    result = cursor.fetchall()
print(result)

<pymysql.connections.Connection object at 0x0000022A1342CF50>
(('information_schema',), ('my_database',), ('my_titanic',), ('my_train_titanic',), ('mysql',), ('performance_schema',), ('sakila',), ('servdb',), ('social_media_app',), ('sys',), ('transaction_test',), ('world',))
(('full_passengers',),)

#### Functionisation
_Transform the aforesaid pymysql codes into a function_

In [17]:
def sql_query(db, sql): 
    connection = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'P@ssw0rd',
    port = 3306,
    database = db,
    cursorclass = pymysql.cursors.DictCursor
)
    with connection.cursor() as cursor:
        cursor.execute(sql)
        result = cursor.fetchall()
    return result
print(sql_query('my_titanic', 'SHOW TABLES;')[0]['Tables_in_my_titanic'])
from pprint import pprint
pprint(sql_query('my_titanic' , "select id, pclass, pname from full_passengers where pname like '% Leonard%' and sex = 'male';"))

t = sql_query('my_titanic', 'SHOW TABLES;')[0]['Tables_in_my_titanic']

full_passengers
[{'id': 21,
  'pclass': Decimal('1.00'),
  'pname': 'Beckwith, Mr. Richard Leonard'},
 {'id': 443, 'pclass': Decimal('2.00'), 'pname': 'Hickman, Mr. Leonard Mark'},
 {'id': 473,
  'pclass': Decimal('2.00'),
  'pname': 'Kirkland, Rev. Charles Leonard'},
 {'id': 827,
  'pclass': Decimal('3.00'),
  'pname': 'Goodwin, Master. Sidney Leonard'},
 {'id': 1028, 'pclass': Decimal('3.00'), 'pname': 'Moore, Mr. Leonard Charles'},
 {'id': 1097,
  'pclass': Decimal('3.00'),
  'pname': 'Palsson, Master. Gosta Leonard'},
 {'id': 1240,
  'pclass': Decimal('3.00'),
  'pname': 'Theobald, Mr. Thomas Leonard'}]